<!--
    html-kod för Detaljerad Produkt-sida
    anropas från action-metoden Detail i ProductController
    skickas till vyn _SideBaseLayout, läggs in vid RenderBody()

    "at-symbol"  anger början på C#-kod
    model anger vilken klass eller viewModel som beskriver innehållet
    ViewBag har skapats och skickats med från inkommande vy
-->
@model ProductDetailViewModel

<h2>@ViewBag.Rubrik</h2>

<!-- Model med stor bokstav här                                   -->
<div class="col-sm-6 col-lg-6 col-md-6">
    <div class="thumbnail">
        <img src="~/Images/carousel3.jpg" alt="">
        <div class="caption">
            <h3>
                <a href="#">@Model.ProductDetail.Name</a>
                <div class="pull-right">@Model.ProductDetail.Price.ToString("c")</div>
            </h3>
            <h3>@Model.ProductDetail.Besk</h3>
        </div>
    </div>
</div>

<div class="pull-right">
    <!--
        ev kommentarer visas
    -->
    @if (Model.CommentaryList.Count > 0)
    {
        <h2>Så tycker våra kunder</h2>
        @foreach (var commentary in Model.CommentaryList)
        {
            <partial name="_CommentaryShared" model="commentary" />
        }
    }

    <!--
        inloggade användare kan lämna kommentar  ???
    -->
    @if (Model.CommentaryList.Count > 0)
    {
        <!-- <partial name="_CommentaryContent" model="Commentary" /> -->
        <form asp-action="Checkout" method="post" class="form-horizontal" role="form">
            <h3>Din synpunkt</h3>

            <!-- tagHelper för felmeddelande, gäller hela vyn                   -->
            <div asp-validation-summary="All" class="text-danger"></div>

            <!-- submit av ifyllt formulär                                           -->
            <div class="form-group">
                <div class="col-md-offset-2 col-md-5">
                    <input type="submit"
                           asp-controller="Product" asp-action="Detail"
                           asp-route-id="@Model.CommentaryList[0].Text"
                           class="btn btn-primary" value="Lägg till" />
                </div>
            </div>
        </form>
    }
</div>